@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: #1d90f4;
  --bg-color-1: #282a37;
  --bg-color-2: #323645;
  --bg-color-3: #424657;
  --bg-color-4: #26272d;
  --text-color-1: #ffffff;
  --text-color-2: #bdbdbd;
  --text-color-3: #adadad;
  --danger: rgb(219, 65, 65);
  --success: rgb(68, 150, 68);
  --shadow: rgba(17, 17, 17, 0.267);
}

body {
  background-color: var(--bg-color-1);
  font-family: "Nunito Sans", serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
}

.container {
  width: 100%;
  height: calc(100vh - 126px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-1);
}

.heading-1 {
  font-size: 24px;
  color: var(--text-color-1);
  text-transform: capitalize;
}

.body-text-1 {
  font-size: 14px;
  color: var(--text-color-2);
  letter-spacing: 1px;
}

.create-chat-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 16px;
}

.button-1 {
  background-color: var(--main);
  color: var(--text-color-1);
  font-size: 14px;
  padding: 8px 16px;
  text-transform: uppercase;
}

.profile-img {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img-3 {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img > img,
.profile-img-3 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/*----------------------- Navbar ----------------------- */

nav {
  display: flex;
  width: 100%;
  padding: 16px;
  align-items: center;
  z-index: 998;
  background-color: var(--bg-color-1);
  border-bottom: 1px solid var(--shadow);
}

.nav-brand {
  font-size: 32px;
  color: var(--text-color-1);
  text-transform: capitalize;
}

.nav-items {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 16px;
}

.nav-notifications {
  position: relative;
}

.notification-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.notification-icon > svg {
  width: 24px;
  height: 24px;
  color: var(--text-color-1);
}

.notification-icon-active > svg {
  color: var(--main);
}

.notifications-list {
  position: absolute;
  top: 32px;
  right: 0;
  background-color: var(--bg-color-3);
  width: 300px;
  height: 150px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.notifications-list > h6 {
  font-size: 14px;
  padding: 8px;
  color: var(--text-color-1);
  background-color: var(--bg-color-2);
  border-radius: 4px 4px 0 0;
}

.empty-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-color-2);
}

.notification {
  padding: 8px;
  color: var(--text-color-2);
  border-bottom: 1px solid var(--text-color-2);
  cursor: pointer;
}

.nav-dial {
  position: relative;
  z-index: inherit;
}

.nav-dial-head {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.nav-dial-head > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.nav-options {
  position: absolute;
  top: 32px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  visibility: hidden;
  padding-top: 16px;
  cursor: pointer;
  z-index: 990;
}

.nav-options > li {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-1);
  border-radius: 50%;
}

.nav-options > li:hover {
  background-color: var(--bg-color-3);
}

.nav-options > li > svg {
  color: var(--text-color-1);
  font-size: 18px;
}

/*----------------------- Create Chat ----------------------- */

.create-chat-dialog,
.create-group-dialog {
  background-color: var(--bg-color-2);
  display: flex;
  flex-direction: column;
  width: 450px;
  border-radius: 4px;
  padding-block: 16px;
  gap: 16px;
}

.close-button {
  color: var(--text-color-1);
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-inline: 16px;
}

.create-chat-dialog > h1,
.create-group-dialog > h1 {
  color: var(--text-color-1);
  text-align: center;
  padding-inline: 16px;
}

.create-chat-dialog > div {
  padding-inline: 16px;
}

.search-user-input {
  background-color: var(--bg-color-1) !important;
}

.user-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 150px;
}

.user-list-item {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  padding: 16px;
  border-bottom: 1px solid var(--bg-color-3);
  align-items: center;
}

.user-list-item > .profile-img {
  margin-right: 16px;
}

.user-list-item:last-of-type {
  border: none;
}

.user-list-item:hover {
  background-color: var(--bg-color-3);
}

.user-list-item > h1 {
  font-size: 16px;
  color: var(--text-color-1);
}

.user-list-item > button {
  font-size: 14px;
  background-color: var(--main);
  color: var(--text-color-1);
  border-radius: 4px;
  padding: 4px 8px;
}

.create-group-member-list {
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 16px;
}

.create-group-member {
  display: flex;
  gap: 4px;
  background-color: var(--main);
  color: var(--text-color-1);
  align-items: center;
  padding: 4px 8px;
  border-radius: 2px;
}

.create-group-member > h6 {
  font-size: 12px;
}

.create-group-member > svg {
  font-size: 14px;
  cursor: pointer;
}

/*----------------------- create group dialog box ----------------------- */

.create-group-dialog > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline: 16px;
}

/*----------------------- Login / Signup Form ----------------------- */

.form-container {
  width: 450px;
  background-color: var(--bg-color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  height: fit-content;
  margin: 16px;
}

#login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

.form-label > h6 {
  font-size: 14px;
  color: var(--text-color-1);
  margin-bottom: 4px;
  text-transform: capitalize;
}

.form-label > div {
  width: 100%;
  background-color: var(--bg-color-1);
  padding: 10px;
  display: flex;
  align-items: center;
}

.form-label > div > svg {
  color: var(--text-color-1);
  width: 24px;
  height: 24px;
  margin-right: 16px;
}
.form-label > div > input {
  width: 100%;
  font-size: 16px;
  background: none;
  border: none;
  color: var(--text-color-1);
  outline: none;
}

#login > button {
  font-size: 16px;
  color: var(--text-color-1);
  padding: 12px 32px;
  background-color: var(--main);
}

.form-link {
  width: 100%;
  text-align: left;
  color: var(--text-color-1);
}

.form-link > a {
  color: var(--main);
}

.error-msg {
  margin-top: 4px;
  font-size: 12px;
  color: var(--danger);
}

/*----------------------- Chats ----------------------- */

.chats-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 100%;
  height: inherit;
  position: relative;
}

.chats-container-left {
  height: inherit;
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.filter-user-input {
  padding: 16px;
  margin-bottom: 3px;
}

.filter-user-input > label,
.create-chat-dialog > div > label {
  background-color: var(--bg-color-2);
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 5px;
}

.filter-user-input > label > svg,
.create-chat-dialog > div > label > svg {
  color: var(--text-color-1);
  width: 20px;
  height: 20px;
  margin: 8px;
}

.filter-user-input > label > input,
.create-chat-dialog > div > label > input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-color-1);
  font-size: 16px;
  padding-block: 12px;
}

.filter-user-input > label > input::placeholder,
.create-chat-dialog > div > label > input::placeholder {
  color: var(--text-color-2);
}

.chat-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.chat-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  border-bottom: 1px solid var(--bg-color-3);
  gap: 8px;
  height: 78px;
}

.chat-list-item:hover {
  background-color: var(--bg-color-2);
}

.chat-list-item-info > h3 {
  color: var(--text-color-1);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.create-chats {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  gap: 8px;
}

.create-chats > button {
  background-color: var(--main);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.create-chats > button > svg {
  color: var(--text-color-1);
  width: 24px;
  height: 24px;
}

.latest-message {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: var(--text-color-2);
}

/*----------------------- Chat Box ----------------------- */

.chat-box-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
  background-color: var(--bg-color-1);
}

.chat-box-header {
  display: flex;
  padding: 16px;
  align-items: center;
}

.chat-box-header > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chat-box-header > span,
.chat-details > span,
.profile-head > span {
  display: flex;
  align-items: center;
}

.chat-box-header > span > svg,
.chat-details > span > svg,
.profile-head > span > svg {
  color: var(--text-color-1);
  margin-right: 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.chat-box-header > div > .profile-img {
  margin-right: 16px;
}

.chat-box-header-info > h2 {
  font-size: 16px;
  color: var(--text-color-1);
}

.chat-box-header-info > p {
  font-size: 16px;
  color: var(--text-color-2);
}

.chat-box-messages {
  display: flex;
  height: 100%;
  overflow-y: auto;
  background-color: var(--bg-color-2);
}

.message-list {
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: auto;
}

.message-list > li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  margin-bottom: 16px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message {
  background-color: var(--bg-color-3);
  color: var(--text-color-1);
  padding: 12px;
  border-radius: 8px 8px 8px 0;
  font-size: 14px;
  word-wrap: break-word;
  width: 100%;
}

.message-sent-time {
  color: var(--text-color-2);
  font-size: 12px;
  text-align: start;
  margin-top: 4px;
}

.owner {
  flex-direction: row-reverse;
}

.owner .message {
  border-radius: 8px 8px 0 8px;
  background-color: var(--main);
}

.owner .message-sent-time {
  text-align: end;
}

.chat-input {
  display: flex;
  padding: 16px;
  gap: 16px;
  background-color: var(--bg-color-2);
}

.chat-input > label {
  background-color: var(--bg-color-3);
  width: 100%;
}

.chat-input > label > input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
  padding: 12px 16px;
  color: var(--text-color-1);
}

.chat-input > button {
  padding: 8px;
  background-color: var(--main);
  border-radius: 50%;
}

.chat-input > button > svg {
  color: var(--text-color-1);
  width: 100%;
  height: 100%;
}

.empty-chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-2);
}

.empty-chat-box > p {
  font-size: 16px;
  color: var(--text-color-2);
  text-align: center;
}

/*----------------------- Chat Details ----------------------- */

.chat-details {
  display: flex;
  flex-direction: column;
  height: inherit;
}

.chat-details > span {
  padding: 16px;
}

.chat-details-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--bg-color-3);
}

.profile-img-2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 16px;
}

.profile-img-2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.chat-details-head > h1 {
  color: var(--text-color-1);
  font-size: 24px;
  margin-bottom: 10px;
}

.chat-details-head > p {
  font-size: 14px;
  color: var(--text-color-2);
}

.chat-group-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.chat-group-info > h1 {
  color: var(--text-color-1);
  padding: 16px;
  font-size: 18px;
}

.chat-details-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.button-danger {
  background-color: var(--danger);
  color: var(--text-color-1);
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 18px;
}

.button-success {
  background-color: var(--success);
  color: var(--text-color-1);
  padding: 10px 16px;
  border-radius: 4px;
  font-size: 18px;
}

.group-member {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--bg-color-3);
  cursor: pointer;
}

.group-member > .profile-img {
  margin-right: 16px;
}

.group-member > h2 {
  font-size: 16px;
  color: var(--text-color-2);
  margin-right: 16px;
}

.group-member > h4 {
  color: var(--main);
  border: 1px solid var(--main);
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 8px;
}

.group-member > svg {
  color: var(--danger);
  margin-left: auto;
  width: 18px;
  height: 18px;
}

/*----------------------- profile ----------------------- */

.profile-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  width: 100%;
  height: inherit;
}

.profile-left-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.profile-head {
  display: grid;
  grid-template-areas:
    "a b c"
    "a b d";
  grid-template-columns: 1fr 1fr 10fr;
  align-items: center;
  padding: 16px;
}

.profile-head > span {
  grid-area: a;
}

.profile-head > .profile-img-3 {
  grid-area: b;
  margin-right: 16px;
}

.profile-head > h1 {
  grid-area: c;
  font-size: 18px;
  color: var(--text-color-1);
}
.profile-head > p {
  grid-area: d;
  font-size: 14px;
  color: var(--text-color-2);
}

.profile-options-list {
  display: flex;
  flex-direction: column;
}

.profile-options-list > li {
  color: var(--text-color-2);
  text-align: center;
  padding: 16px;
  border-bottom: 1px solid var(--bg-color-1);
  cursor: pointer;
}

.profile-option-active {
  background-color: var(--bg-color-2);
}

.profile-options-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile-options-container > h1 {
  font-size: 24px;
  color: var(--text-color-1);
  padding: 16px;
  margin-bottom: 18px;
}

.profile-options-container > form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  height: 100%;
  background-color: var(--bg-color-2);
}

.profile-options-container > form > button {
  background-color: var(--main);
  color: var(--text-color-1);
  padding: 10px 16px;
  align-self: flex-end;
}

.theme-container {
  height: 100%;
  background-color: var(--bg-color-2);
}

/*----------------------- Footer  ----------------------- */

footer {
  width: 100%;
  padding: 16px;
  background-color: var(--bg-color-1);
}

footer > p {
  font-size: 14px;
  width: 100%;
  text-align: center;
  color: var(--text-color-2);
}

footer > p > a {
  font-size: 14px;
  color: var(--main);
}

@media screen and (max-width: 768px) {
  .chats-container {
    grid-template-columns: 1fr;
  }

  .chat-box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    z-index: 100;
  }

  .empty-chat-box {
    display: none;
  }

  .profile-container {
    grid-template-columns: 1fr;
  }
  .profile-left-container {
    height: fit-content;
  }
  .profile-options-list {
    flex-direction: row;
  }
}
@media screen and (max-width: 480px) {
  .create-chat-dialog,
  .create-group-dialog {
    width: 100%;
  }
}
